:root {
  --lightBlue: #D2E0FB;
  --beige: #F9F3CC;
  --tan: #D7E5CA;
  --pink: #8EACCD;
}

* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  background-color: var(--lightBlue);
  color: darkblue;
  padding-bottom: 5px;
}

header h1 {
  font-size: 75px;
  padding-bottom: 5px;
  word-wrap: break-word;
}

.nav {
  font-size: 30px
}

p {
  font-size: 20px;
}

div h2 {
  font-size: 55px;
  font-weight: bold;
}

#headshot {
  width: 100%;
  border-radius: 20px;
  border: var(--lightBlue) solid 10px;
  border-style: double;
  margin-right: 10px;
}

.acc-header {
  font-size: 30px;
  color: darkblue;
}

.acc-text {
  font-size: 20px;
}

.tech-list {
  list-style: none;
}

.technologies {
  text-decoration: underline;
  font-weight: bold;
}

.group-project-pic {
  width: 100%;
}

.group-project-pic:hover {
  opacity: 60%;
}